.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: rgb(248, 179, 225);
}

.number {
    font-size: 5rem;
    color: rgb(139, 2, 181);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    width: 100px;
    height: 30px;
    background-color: rgb(76, 215, 99);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(0, 0, 0);
    color: red;
    border: 1px solid red;
}